{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>

  <body>

    <div id="demo">
      <div class="draggable-element">Drag 1</div>
      <div class="draggable-element">Drag 2</div>
      <div class="draggable-element">Drag 3</div>
      <div class="draggable-element">Drag 4</div>
    </div>

  <ul>
    <li><span class="title">list 1</span><span class="drag-area"></span></li>
    <li><span class="title">list 2</span><span class="drag-area"></span></li>
    <li><span class="title">list 3</span><span class="drag-area"></span></li>
    <li><span class="title">list 4</span><span class="drag-area"></span></li>
  </ul>

  </body>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{% static 'js/drag-arrange.js' %}"></script>
  <script type="text/javascript">
  $('.draggable-element').arrangeable();
  $(function() {
    $('li').arrangeable({
      dragSelector: '.drag-area'
    });
  });
  </script>

</html>
