<html>
<body>
{% include "header.html" %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Our Popular Courses
        </h1>
        <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="courses.html"> Popular Courses</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->


<!-- Start course-details Area -->
<section class="course-details-area pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 left-contents">
        <div class="jq-tab-wrapper" id="horizontalTab">
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true in astronomy both in terms of terms that refer to the cosmos and terms that describe the tools of the trade, the most prevalent being the telescope.
              <br>
              <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            </div>
                            <div class="jq-tab-content" data-tab="2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
              <br>
              <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            </div>
                        </div>
                    </div>
      </div>
      <div class="col-lg-4 right-contents">
        <br><br><br>
        <img class="img-fluid" src="https://s3.envato.com/files/57a805b1-b8a9-427d-a2ad-b41061ec7a94/inline_image_preview.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End course-details Area -->


<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Popular Courses we offer</h1>
          <p>There is a moment in the life of any aspiring.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="single-popular-carusel col-lg-3 col-md-6">
        <div class="thumb-wrap relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="https://www.researchgate.net/profile/Karl_Macdorman/publication/321147663/figure/fig1/AS:565041864482816@1511727886142/Human-computer-interaction-and-related-research-fields.png" alt=""  width="500" height="300">
          </div>
          <div class="meta d-flex justify-content-between">
            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
          </div>
        </div>
        <div class="details">
          <a href="#">
            <h4>
              Learn HCI
            </h4>
          </a>
          <p>
            When television was young, there was a hugely popular show based on the still popular fictional characte
          </p>
        </div>
      </div>
      <div class="single-popular-carusel col-lg-3 col-md-6">
        <div class="thumb-wrap relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="https://fsureau.github.io/img/logo_sql-server.png" alt="" width="500" height="600">
          </div>
          <div class="meta d-flex justify-content-between">
            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
          </div>
        </div>
        <div class="details">
          <a href="#">
            <h4>
              Learn SQL Server
            </h4>
          </a>
          <p>
            When television was young, there was a hugely popular show based on the still popular fictional characte
          </p>
        </div>
      </div>
      <div class="single-popular-carusel col-lg-3 col-md-6">
        <div class="thumb-wrap relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="https://i.ibb.co/z6wtb8F/CC-3.png" alt="">
          </div>
          <div class="meta d-flex justify-content-between">
            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
            <h4>$150</h4>
          </div>
        </div>
        <div class="details">
          <a href="#">
            <h4>
              Learn Software Analysis and Design
            </h4>
          </a>
          <p>
            When television was young, there was a hugely popular show based on the still popular fictional characte
          </p>
        </div>
      </div>
      <div class="single-popular-carusel col-lg-3 col-md-6">
        <div class="thumb-wrap relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="https://i.ibb.co/FsbyQ5s/images.jpg" alt="">
          </div>
          <div class="meta d-flex justify-content-between">
            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
            <h4>$150</h4>
          </div>
        </div>
        <div class="details">
          <a href="#">
            <h4>
              Learn Operation System Concepts
            </h4>
          </a>
          <p>
            When television was young, there was a hugely popular show based on the still popular fictional characte
          </p>
        </div>
      </div>
      <a href="#" class="primary-btn text-uppercase mx-auto">Load More Courses</a>
    </div>
  </div>
</section>
<!-- End popular-courses Area -->


			<!-- End cta-two Area -->
{% endblock content %}
{% include "footer.html" %}
</body>
</html>
